@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.wisata {
  @apply font-montserrat;
}

.wisata p {
  @apply mb-4
}

.artikel p img {
  width: auto; 
  height: 15rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.artikel p:has(img) {
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent images from wrapping to the next line */
}

.editor div div h1,
.editor div div h2,
.editor div div h3,
.editor div div h4,
.editor div div h5,
.wisata h1,
.wisata h2,
.wisata h3,
.wisata h4,
.wisata h5 {
  @apply text-lg;
  @apply md:text-2xl; 
  @apply font-semibold;
  @apply my-3
}

.popup-header {
  text-align: center;
  padding: 2px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.popup-image {
  width: 100%; 
  height: auto;
  max-width: 200px; 
  max-height: 200px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 10px auto;
  display: block;
}

.popup-image:hover {
  transform: scale(1.1);
}

.outlined {
  color: white; /* Text color */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
